{% extends "registration/base.html"%}

{% block content %}
  <form class = "centered" action="/registration/sign_in/" method="post">
    {% csrf_token %}
    <div class="grid">
      <label>Email</label>
      <input type="email" name="email">

      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div>
      <button class="button">Sign In</button>
      <a class="button" href="/registration/sign_up/">Create New Account</a>
    </div>

  </form>
{% endblock %}