{% extends "registration/base.html"%}

{% block content %}
<form action="/registration/sign_in/" method="post">
  {% csrf_token %}
  <div class="grid">
    <label>Email</label>
    <input type="email" name="email" value={{email}}>

    <label>Password</label>
    <input type="password" name="password">
  </div>
  <div class="buttonStack">
    <button>Sign In</button>
    <a href="/registration/sign_up/">Create New Account</a>
  </div>
</form>
{% if message %}
  <h1>{{message}}</h1>
{% endif %}
{% endblock %}
