{% extends "registration/base.html"%}

{% block content %}
<div class="row">
  <img src="{{asset_url}}/static/src/assets/banner1.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner2.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner3.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner4.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner5.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner6.jpg" />
</div>
<header>Tana with a Camera</header>
<div class="bottomDiv">
  <p>This is a bio for Tana. Tana likes to take picture with her camera, which is why this site exists. If you would
    like a picture taken, click here to login or signup so you can request a reservation.</p>
  <div class="buttonStack">
    <a class="button" href="/registration/sign_in/">Sign In!</a>
    <a class="button" href="/registration/sign_up/">Sign Up!</a>
  </div>
</div>
{% endblock %}