{% extends "registration/base.html"%}

{% block content %}
<div class="row">
  <img src="{{asset_url}}/static/src/assets/banner1.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner2.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner3.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner4.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner5.jpg" />
  <img src="{{asset_url}}/static/src/assets/banner6.jpg" />
</div>
<header>Tana with a Camera</header>
<div class="bottomDiv">
  <p>Hi! Thanks for checking out my Website! My name is Tana and photography has been a passion of mine for years. I'm happy to try new creative shoots and explore making memories with you!</p>
  <div class="buttonStack">
    <a class="button" href="/registration/sign_in/">Sign In!</a>
    <a class="button" href="/registration/sign_up/">Sign Up!</a>
  </div>
</div>
{% endblock %}