* {
  user-select: none;
}

.grid {
  display: grid;
  overflow-y: hidden;
}

.samplePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav {
  background-color: #f2d9b2;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: black;
}

.sideBar {
  background-color: #ddd;
  grid-column: 12;
}

.buttonSpan {
  width: fit-content;
}

button,
.link {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 520;
  background-color: #e4b161;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  margin-top: 1em;
  margin-left: 1em;
}

button:hover,
.link:hover {
  border-color: #b07045;
}

.linkHolder {
  margin-top: 0.5em;
}


input,
textarea {
  grid-column: 2;
  margin-top: 1em;
  height: 2em;
  background-color: #e4b161;
  border: none;
  color: white;
  padding: 3px;
}

textarea {
  height: 10em;
  resize: none;
}

input:focus,
textarea:focus {
  outline: 5px solid #f3c1b4;
}

form {
  border: 2px solid #f3c1b4;
  border-radius: 8px;
  padding: 12px;
  margin-left: 6em;
  display: flex;
  flex-direction: column;
  height: max-content;
  background-color: #b07045;

}

.reservationCard {
  padding: 0;
  padding-bottom: 0.5em;
  color: black;
  background-color: #e4b161;
  margin-bottom: 1em;
  border-radius: 20px;
  overflow: hidden;
}

.reservationCard h1 {
  margin: 0;
  background-color: #b07045;
  padding: 0.5em;
}

.reservationCard p {
  margin-left: 1em;
}

.reservationCard nav {
  margin-bottom: -0.5em;
}

.reservationPage {
  display: flex;
  flex-direction: row;
  height: 85vh;
  margin-top: 2em;
  align-items: center;
}

.reservationList {
  border: 2px solid black;
  border-radius: 8px;
  padding: 12px;
  margin-left: 6em;
  background-color: #f4ab7b;
  display: flex;
  flex-direction: column;
  min-height: 30%;
  max-height: 100%;
}

.reservationList h1 {
  color: black;
}

.notes {
  margin: 1em;
  border: 2px dashed #b07045;
  border-radius: 15px;
  background-color: #eac385;
  padding: 0.5em;
}

.fillScroll {
  height: 200%;
  overflow-y: scroll;
}

.gallery {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  overflow-y: hidden;
}

.galleryBar {
  background-color: #b07045;
  display: flex;
  height: min-content;
  margin-top: 0px;
  margin-bottom: 1em;
  align-content: center;
}

.galleryItem {
  width: 250px;
  height: 250px;
  margin: 0.3em;
  transition: all 0.1s ease-in-out;
}

.galleryItem:hover {
  transform: scale(1.1);
}

.selected {
  transform: scale(0.7);
  border: 8px solid #eea796;
  border-radius: 8px;
}



.zipOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.822);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  font-size: xx-large;
  padding-top: 5em;
}

.expandedImage {
  margin-top: 2em;
  width: 100%;
  height: auto;
}

.expandedView {
  text-align: center;
  padding: 2em;
  display: flex;
  flex-direction: column;
  height: 45%;
  overflow-y: scroll;
}

.buttonLike {
  background-color: #e4b161;
  color: black;
  text-decoration: none;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 1em;
  padding: 0.5em;
  text-align: center;
  box-shadow: 3px 3px 3px #f2d9b2AA;
  margin-right: 1em;
}

.margined {
  margin-top: 0.5em;
}

.buttonLike:hover {
  cursor: pointer;
}