.grid {
  display: grid;
  height: 100%;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.sideBar {
  background-color: #ddd;
  grid-column: 12;
}

.gallery {
  grid-column: 1;
  height: 100%;
}

.buttonSpan {
  width: fit-content;
}

button,
.link {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 520;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  text-decoration: none;
  margin-right: 1em;
  margin-left: 1em;
}

button:hover,
.link:hover {
  border-color: #646cff;
}

.linkHolder{
 margin-top: 0.5em; 
}

form{
  display: flex;
  flex-direction: column;
}

.reservationCard{
  margin-top: 1em;
  padding: 3px;
  color: black;
  background-color: burlywood;
}

.reservationPage{
  display: flex;
  flex-direction: row;
}

.reservationList{
  border: 2px solid black;
  border-radius: 8px;
  padding: 12px;
  margin-left: 6em;
  background-color: white;
  overflow: auto;
}

.gallery{
  padding-right: 1em;
}

.galleryItem{
  width: 250px;
  height: 250px;
  margin: 0.3em;
  transition: all 0.1s ease-in-out;
}

.galleryItem:hover {
  transform: scale(1.1);
}

.expandedImage {
  margin: 2em;
  width: max-content;
  height: max-content;
}

.expandedView {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid #4499BB;
  border-radius: 35px;
  background-color: #4499BB20;
  padding: 2em;
  width: min-content;
  height: min-content;
}

.buttonLike {
  text-decoration: none;
  background-color: #113388;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  width: min-content;
  padding: 1em;
  margin: 1em;
}

.buttonLike:hover{
  cursor: pointer;
}