* {
  user-select: none;
}

nav {
  background-color: #f2d9b2;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  color: black;
}

p {
  white-space: pre-wrap;
  color: black;
}

.buttonSpan {
  width: fit-content;
}

button,
.link {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0 1.2em;
  font-weight: 520;
  background-color: #e4b161;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  height: 70%;
  margin: auto auto;
}

button:hover,
.link:hover {
  border-color: #b07045;
}

.fillScroll {
  height: 120%;
  overflow-y: scroll;
}

.galleryScroll {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  width: 98%;
  height: 85%;
  margin-top: 1%;
  margin-left: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.galleryBar {
  background-color: #b07045;
  display: flex;
  height: 5%;
  margin-top: 0px;
  align-items: center;
  justify-content: space-evenly;
}

.galleryItem {
  width: 100%;
  height: auto;
  transition: all 0.1s ease-in-out;
}

.galleryItem:hover {
  transform: scale(1.1);
}

.expandedImage {
  margin: 1% 1%;
  width: 98%;
  height: auto;
  overflow-y: scroll;
  display: block;
}

.expandedView {
  text-align: center;
  display: block;
  overflow-y: scroll;
}

.buttonLike {
  display: block;
  background-color: #e4b161;
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 1em;
  padding: 0.5em;
  text-align: center;
  box-shadow: 3px 3px 3px #f2d9b2AA;
  height: min-content;
}

.buttonLike:hover {
  cursor: pointer;
}

.stackButton {
    margin: 3% 20%;
}
