* {
  user-select: none;
}

nav {
  background-color: #f2d9b2;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: black;
}

.buttonSpan {
  width: fit-content;
}

button,
.link {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 520;
  background-color: #e4b161;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  margin-top: 1em;
  margin-left: 1em;
}

button:hover,
.link:hover {
  border-color: #b07045;
}

.linkHolder {
  margin-top: 0.5em;
}

.fillScroll {
  height: 120%;
  overflow-y: scroll;
}

.gallery {
  display: block;
}

.galleryScroll {
  display: block;
  overflow-y: scroll;
  max-height: 750px;
}

.galleryBar {
  background-color: #b07045;
  display: flex;
  height: min-content;
  margin-top: 0px;
  margin-bottom: 1em;
  align-content: center;
}

.galleryItem {
  width: 250px;
  height: 250px;
  margin: 0.3em;
  transition: all 0.1s ease-in-out;
}

.galleryItem:hover {
  transform: scale(1.1);
}

.expandedImage {
  margin-top: 2em;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  display: block;
}

.expandedView {
  text-align: center;
  padding: 2em;
  display: block;
  overflow-y: scroll;
}

.buttonLike {
  background-color: #e4b161;
  color: black;
  text-decoration: none;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 1em;
  padding: 0.5em;
  text-align: center;
  box-shadow: 3px 3px 3px #f2d9b2AA;
  margin-right: 1em;
}

.buttonLike:hover {
  cursor: pointer;
}