.grid {
    display: grid;
    overflow-y: hidden;
    height: 200%;
}

.margined {
    margin-top: 0.5em;
}

.zipOverlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.822);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    font-size: xx-large;
    padding-top: 5em;
}

.selected {
    transform: scale(0.7);
    border: 8px solid #eea796;
    border-radius: 8px;
}

.sideBar {
    background-color: #ddd;
    grid-column: 12;
  }