.bottomNav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9%;
    padding: 0;
    align-content: flex-start;
}

.bottomNav > * {
    font-size: 1em;
}

.material-symbols-outlined {
    align-content: center;
}
