input,
textarea {
    grid-column: 2;
    margin-top: 1em;
    height: 2em;
    background-color: #e4b161;
    border: none;
    color: white;
    padding: 3px;
}

textarea {
    height: 10em;
    resize: none;
}

input:focus,
textarea:focus {
    outline: 5px solid #f3c1b4;
}

form {
    border: 2px solid #f3c1b4;
    border-radius: 8px;
    padding: 12px;
    margin-left: 6em;
    display: flex;
    flex-direction: column;
    height: max-content;
    background-color: #b07045;

}

.notes {
    margin: 1em;
    border: 2px dashed #b07045;
    border-radius: 15px;
    background-color: #eac385;
    padding: 0.5em;
}

.reservationCard {
    padding: 0;
    padding-bottom: 0.5em;
    color: black;
    background-color: #e4b161;
    margin-bottom: 1em;
    border-radius: 20px;
    overflow: hidden;
}

.reservationCard h1 {
    margin: 0;
    background-color: #b07045;
    padding: 0.5em;
}

.reservationCard p {
    margin-left: 1em;
}

.reservationCard nav {
    margin-bottom: -0.5em;
}

.reservationPage {
    display: flex;
    flex-direction: row;
    height: 85vh;
    margin-top: 2em;
    align-items: center;
}

.reservationList {
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px;
    margin-left: 6em;
    background-color: #f4ab7b;
    display: flex;
    flex-direction: column;
    min-height: 30%;
    max-height: 100%;
}

.reservationList h1 {
    color: black;
}