input,
textarea {
    grid-column: 2;
    margin-top: 1em;
    height: 1em;
    background-color: #e4b161;
    border: none;
    color: white;
    padding: 3px;
}

textarea {
    height: 3em;
    resize: none;
}

input:focus,
textarea:focus {
    outline: 5px solid #f3c1b4;
}

form {
    border: 2px solid #f3c1b4;
    border-radius: 8px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    background-color: #b07045;
    width: 95%;
    height: max-content;
}

form > button {
    margin-top: 1%;
    height: 2em;
}

.notes {
    border: 2px dashed #b07045;
    border-radius: 15px;
    background-color: #eac385;
    padding: 0.5em;
}

.reservationCard {
    padding: 0;
    padding-bottom: 0.5em;
    color: black;
    background-color: #e4b161;
    border-radius: 20px;
    overflow: hidden;
}

.reservationCard h1 {
    background-color: #b07045;
    padding: 0.5em;
}

.reservationPage {
    padding: 2% 1%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 89%;
    align-items: center;
    overflow-y: scroll;
}

.reservationList {
    border: 2px solid black;
    border-radius: 8px;
    padding: 1%;
    background-color: #f4ab7b;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: max-content;
}

.reservationList h1 {
    color: black;
}
