{% extends "staff/base.html"%}

{% block content %}
<div class="columnizer widthContent">
    <h1>Finalizer</h1>
    <form class="widthContent" action="/staff/reservation/confirm/{{requested.id}}/" method="post">
        {% csrf_token %}
        <label>User
            <input class="hidden" type="text" value={{requested.user.id}} name="user" />
        </label>
        <label>
            Confirmed Date:
            <input type="date" value={{today}} name="date" />
        </label>
        <label>
            Confirmed Time:
            <input type="time" value={{now}} name="time" />
        </label>
        <label>
            Location:
            <input type="text" value={{requested.location}} name="location" />
        </label>
        <label>
            Shoot Type:
            <input type="text" value={{requested.shootType}} name="shootType" />
        </label>
        <label>
            Additional notes:
            <textarea cols="20" rows="20" name="notes">{{requested.notes}}</textarea>
        </label>
        <button class="buttonLike">Save</button>
    </form>
</div>
{% endblock %}